* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #5f6774;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px;
  background-color: blanchedalmond;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
  display: flex;
  justify-content: center;
}

.logo a img {
  max-width: 300px;
}

.menu{
  height: 35px;
  display: flex;
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  justify-content: center;
  font-family: system-ui;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu-welcome{
  margin-right: 20px;
}

.menu-play{
  margin-right: 20px;
}

.menu-list-of-enigma{
  margin-right: 30px;
}

.menu a {
  text-decoration: none;
  color: #5f6774;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  color: lightslategrey;
}

.login{
  margin-left: 10px;
}

.login a {
  text-decoration: none;
  color: #5f6774;
}


main {
  padding: 40px;
  margin-bottom: 25px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: blanchedalmond;
  flex: 1;
}

.play-button{
  background-color: transparent;
  border: 2px solid blanchedalmond;
  margin-top: 30px;
  color: blanchedalmond;
  font-size : 24px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.play-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.play-button a{
  text-decoration: None;
  color: inherit;
}

.center-aligned th,
.center-aligned td{
  text-align: center;
}

h1{
  margin-bottom: 10px;
}


.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #5f6774;
}

.btn:hover{
  background: linear-gradient(45deg, blanchedalmond 0, transparent 100%);
  transition: background 300ms ease-in-out;
  color: blanchedalmond;
}

.btn-list, .btn-solution {
  box-sizing: border-box;
  appearance: none;
  background-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #5f6774;
}

.btn-list:hover, .btn-solution:hover{
  background: linear-gradient(45deg, blanchedalmond 0, transparent 100%);
  transition: background 300ms ease-in-out;
  color: blanchedalmond;
}

.btn-modify{
  box-sizing: border-box;
  appearance: none;
  background-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #5f6774;
}

.btn-modify:hover{
  background: linear-gradient(45deg, blanchedalmond 0, transparent 100%);
  transition: background 300ms ease-in-out;
  color: blanchedalmond;
}

.answer-form{
  margin-top: 20px;
}

.answer-input{
  text-align: center;
  border-radius: 0.6em;
  padding: 5px 0 5px 0;
  border: 2px solid blanchedalmond;
  background-color: transparent;
  color: blanchedalmond;
}

.new-value{
  text-align: center;
  border-radius: 0.6em;
  padding: 5px 0 5px 0;
  border: 2px solid blanchedalmond;
  background-color: transparent;
  color: blanchedalmond;
  width: 600px;
}

.new-value-difficulty{
  text-align: center;
  border-radius: 0.6em;
  padding: 5px 0 5px 0;
  border: 2px solid blanchedalmond;
  background-color: transparent;
  color: blanchedalmond;
  width: 100px;
}

.custom-number-input {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
}

.attribute{
  margin-top: 20px;
  margin-bottom: 5px;
}

.btn-edit{
  box-sizing: border-box;
  appearance: none;
  background-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #5f6774;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-confirmation-edit{
  box-sizing: border-box;
  appearance: none;
  background-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #5f6774;
}

.btn-confirmation-delete{
  box-sizing: border-box;
  appearance: none;
  background-color: orangered;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: blanchedalmond;
}

/* Custom styles for the 'Cool' button */
.swal2-confirm.button-cool {
  box-sizing: border-box;
  appearance: none;
  background-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #5f6774;
}

.swal2-confirm.button-cool:hover{
  background: linear-gradient(45deg, blanchedalmond 0, transparent 100%);
  transition: background 300ms ease-in-out;
  color: blanchedalmond;
}

/* Custom styles for the SweetAlert popup title and text */
.swal2-popup.popup .swal2-title,
.swal2-popup.popup .swal2-content {
  color: blanchedalmond;
}

/* Custom styles for the SweetAlert popup background */
.swal2-popup.popup {
  background-color: #5f6774;
}

footer {
  text-align: center;
  color: #5f6774;
  padding: 20px;
  background-color: blanchedalmond;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
}

.pagination a{
  color: #5f6774;
  margin: 0 5px;
  text-decoration: none;
  font-weight: normal;
}

.pagination a:hover{
  color: #5f6774;
}

.pagination span{
  color: #5f6774;
  margin: 0 5px
}

.custom-number-input {
  display: flex;
  align-items: center;
}

.form-row{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label{
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.errors {
    margin-top: 5px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 14px;
    list-style-type: none;
}