/* Reset some default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set some global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #5f6774;
  color: #333;
}

header {
  padding: 20px;
  background-color: blanchedalmond;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
  display: flex;
  justify-content: center;
}

.logo img {
  width: 15%;
  max-width: 200px;
}

.menu{
  height: 35px;
  display: flex;
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  justify-content: center;
  font-family: system-ui;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu-play{
  margin-right: 20px;
}

.menu-list-of-enigma{
  margin-right: 30px;
}

.menu a {
  text-decoration: none;
  color: #5f6774;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  color: lightslategrey;
}

.login{
  margin-left: 10px;
}

.login a {
  text-decoration: none;
  color: #5f6774;
}


main {
  padding: 40px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: blanchedalmond;
}

h1{
  margin-bottom: 10px;
}

.play-button{
  background-color: transparent;
  border: 2px solid blanchedalmond;
  margin-top: 30px;
  color: blanchedalmond;
  font-size : 24px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.play-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.play-button a{
  text-decoration: None;
  color: inherit;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
