{% extends "main.html" %}
{% block body %}

<h1>Create a Riddle</h1>

<form method="POST" action="/createRiddle/" novalidate>
    {{ form.csrf_token }}
    <div class="form-row my-2">
        {{ form.description.label }} {{ form.description(class='new-value') }}
        {% with errors = form.description.errors %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="form-row my-2">
        {{ form.solution.label }} {{ form.solution(size=30, class='new-value') }}
        {% with errors = form.solution.errors %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="form-row my-2">
        {{ form.clue.label }} {{ form.clue(size=30, class='new-value') }}
        {% with errors = form.clue.errors %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="form-row my-2">
        {{ form.difficulty.label }} {{ form.difficulty(size=5, class='new-value') }}
        {% with errors = form.difficulty.errors %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="form-row my-3">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
