{% extends "main.html" %}

{% block body %}
<h1>Riddles List</h1>
    <table width="70%">
        <thead>
            <tr>
                {% if session['userRole'] == "admin" %}
                    <th>Owner</th>
                {% endif %}
                <th>Riddle</th>
                <th>Solution</th>
                <th>Clue</th>
                <th>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            {% for riddle in riddles %}
                <tr>
                    {% if session['userRole'] == "admin" %}
                        <td style="text-align: left; padding-right: 50px">{{ riddle.ownerId }}</td>
                    {% endif %}
                    <td style="text-align: left; padding-right: 50px">{{ riddle.description }}</td>
                    <td><button id="sweetalert" class="btn-solution" solution="{{ riddle.solution}}">show solution</button></td>
                    <td><button id="sweetalert" class="btn-list" clue="{{ riddle.clue }}">show clue</button></td>
                    <td>{{ riddle.difficulty }}</td>
                    <td>
                        <button class="btn-modify" onclick="location.href='/edit/{{ riddle.riddleId }}'">Modify</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ url_for('list.getList', page=currentPage-1) }}">&laquo; Previous</a>
        {% endif %}
        {% for page in range(1, totalPages+1) %}
            {% if page == currentPage %}
                <span>{{ page }}</span>
            {% else %}
                <a href="{{ url_for('list.getList', page=page) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if currentPage < totalPages %}
            <a href="{{ url_for('list.getList', page=currentPage+1) }}">Next &raquo;</a>
        {% endif %}
    </div>
{% endblock %}







