<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Enigme</title>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>{{ enigma }}</h1>
    {% if erreur %}
      <p style="color:red;">Mauvaise réponse, veuillez réessayer! Si vous ne trouvez pas vous pouvez toujours demander un indice :-)</p>
    {% endif %}
    <form method="POST">
      <label for="answer"></label>
      <input type="text" id="answer" name="answer" required>
        <p></p>
      <button class="button-submit" role="button" type="submit">Je soumets ma réponse</button>
    </form>
    <button class="button-hint" onclick="showHint(`{{ hint }}`);">Je veux un indice</button>

  </body>

    <script>
        function showHint(hint){
            alert(hint)
        }
    </script>
</html>
