<!DOCTYPE html>
<html>
  <head>
    <title>Escape Game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>

  <body>
    <header>
        <div class="logo">
          <a class="logo" href="/"><img src="../static/img/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
          <ul>
            <li class="menu-play"><a href="/game">Play</a></li>
            <li class="menu-list-of-enigma"><a href="#">Enigmas</a></li>
          </ul>
          <div class="login">
            <a href="#">Log In</a>
          </div>
        </div>
      </header>

    <main>
      {% block body %}
      {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Escape Game. All rights reserved.</p>
    </footer>
    <script src="/static/js/game.js"></script>
  </body>
</html>
